USE [master]
GO
/****** Object:  Database [gradilisteOp]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE DATABASE [gradilisteOp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gradilisteOp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\gradilisteOp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gradilisteOp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\gradilisteOp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gradilisteOp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gradilisteOp]
GO
USE [gradilisteOp]
GO
/****** Object:  UserDefinedDataType [dbo].[Id]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE TYPE [dbo].[Id] FROM [int] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[JMBG]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE TYPE [dbo].[JMBG] FROM [varchar](13) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[PIB]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE TYPE [dbo].[PIB] FROM [varchar](20) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Tekst]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE TYPE [dbo].[Tekst] FROM [varchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Tip]    Script Date: 2/16/2018 2:35:36 PM ******/
CREATE TYPE [dbo].[Tip] FROM [varchar](20) NULL
GO
/****** Object:  Table [dbo].[Distributer]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distributer](
	[PIB] [char](18) NOT NULL,
	[NazivFirme] [dbo].[Tekst] NULL,
	[Ulica] [dbo].[Tekst] NULL,
	[Broj] [int] NULL,
	[IdO] [dbo].[Id] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKDistributer] PRIMARY KEY CLUSTERED 
(
	[PIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drzava]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzava](
	[IdD] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Drzava] [dbo].[Tekst] NULL,
 CONSTRAINT [XPKDrzava] PRIMARY KEY CLUSTERED 
(
	[IdD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gradiliste]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gradiliste](
	[IdG] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Naziv] [dbo].[Tekst] NULL,
	[Ulica] [dbo].[Tekst] NULL,
	[Broj] [int] NULL,
	[IdO] [dbo].[Id] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKGradiliste] PRIMARY KEY CLUSTERED 
(
	[IdG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KrajRada]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrajRada](
	[IdKr] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[JMBG] [dbo].[JMBG] NULL,
	[IdZM] [dbo].[Id] NULL,
	[DatumVreme] [datetime] NULL,
 CONSTRAINT [XPKKrajrada] PRIMARY KEY CLUSTERED 
(
	[IdKr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magacin]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magacin](
	[IdMag] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Naziv] [dbo].[Tekst] NULL,
	[IdG] [dbo].[Id] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKMagacin] PRIMARY KEY CLUSTERED 
(
	[IdMag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materijal]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materijal](
	[IdMat] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Naziv] [dbo].[Tekst] NULL,
	[IdT] [dbo].[Id] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKMaterijal] PRIMARY KEY CLUSTERED 
(
	[IdMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nabavka]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nabavka](
	[IdN] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[PIB] [char](18) NULL,
	[IdMat] [dbo].[Id] NULL,
	[IdZM] [dbo].[Id] NULL,
	[Kolicina] [int] NULL,
	[JedinicnaCena] [float] NULL,
	[DatumVreme] [datetime] NULL,
 CONSTRAINT [XPKNabavka] PRIMARY KEY CLUSTERED 
(
	[IdN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opstina]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opstina](
	[IdO] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Opstina] [dbo].[Tekst] NULL,
	[Grad] [dbo].[Tekst] NULL,
	[IdD] [dbo].[Id] NULL,
 CONSTRAINT [XPKOpstina] PRIMARY KEY CLUSTERED 
(
	[IdO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PocetakRada]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PocetakRada](
	[IdPr] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[JMBG] [dbo].[JMBG] NULL,
	[IdZM] [dbo].[Id] NULL,
	[DatumVreme] [datetime] NULL,
 CONSTRAINT [XPKPocetakRada] PRIMARY KEY CLUSTERED 
(
	[IdPr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Potrosnja]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Potrosnja](
	[IdP] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[IdN] [dbo].[Id] NULL,
	[Kolicina] [int] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKPotrosnja] PRIMARY KEY CLUSTERED 
(
	[IdP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip]    Script Date: 2/16/2018 2:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip](
	[IdT] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Tip] [dbo].[Tip] NULL,
 CONSTRAINT [XPKTip] PRIMARY KEY CLUSTERED 
(
	[IdT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 2/16/2018 2:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[JMBG] [dbo].[JMBG] NOT NULL,
	[Ime] [dbo].[Tekst] NULL,
	[Prezime] [dbo].[Tekst] NULL,
	[Ulica] [dbo].[Tekst] NULL,
	[Broj] [int] NULL,
	[IdO] [dbo].[Id] NULL,
	[BrojTelefona] [dbo].[Tekst] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKZaposleni] PRIMARY KEY CLUSTERED 
(
	[JMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZonaMagacina]    Script Date: 2/16/2018 2:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZonaMagacina](
	[IdZM] [dbo].[Id] IDENTITY(1,1) NOT NULL,
	[Naziv] [dbo].[Tekst] NULL,
	[RedniBrojUnutarMagacina] [int] NULL,
	[Kapacitet] [int] NULL,
	[IdMag] [dbo].[Id] NULL,
	[PoslednjaPromena] [datetime] NULL,
 CONSTRAINT [XPKZonaMagacina] PRIMARY KEY CLUSTERED 
(
	[IdZM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Distributer] ADD  CONSTRAINT [GETDATE_871845524]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Gradiliste] ADD  CONSTRAINT [GETDATE_802683777]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Magacin] ADD  CONSTRAINT [GETDATE_1049701338]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Materijal] ADD  CONSTRAINT [GETDATE_400032291]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Potrosnja] ADD  CONSTRAINT [GETDATE_217056825]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Zaposleni] ADD  CONSTRAINT [GETDATE_584775994]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[ZonaMagacina] ADD  CONSTRAINT [GETDATE_270032288]  DEFAULT (getdate()) FOR [PoslednjaPromena]
GO
ALTER TABLE [dbo].[Distributer]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([IdO])
REFERENCES [dbo].[Opstina] ([IdO])
GO
ALTER TABLE [dbo].[Distributer] CHECK CONSTRAINT [R_8]
GO
ALTER TABLE [dbo].[Gradiliste]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([IdO])
REFERENCES [dbo].[Opstina] ([IdO])
GO
ALTER TABLE [dbo].[Gradiliste] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[KrajRada]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([JMBG])
REFERENCES [dbo].[Zaposleni] ([JMBG])
GO
ALTER TABLE [dbo].[KrajRada] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[KrajRada]  WITH CHECK ADD  CONSTRAINT [R_13] FOREIGN KEY([IdZM])
REFERENCES [dbo].[ZonaMagacina] ([IdZM])
GO
ALTER TABLE [dbo].[KrajRada] CHECK CONSTRAINT [R_13]
GO
ALTER TABLE [dbo].[Magacin]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([IdG])
REFERENCES [dbo].[Gradiliste] ([IdG])
GO
ALTER TABLE [dbo].[Magacin] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[Materijal]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([IdT])
REFERENCES [dbo].[Tip] ([IdT])
GO
ALTER TABLE [dbo].[Materijal] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[Nabavka]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([PIB])
REFERENCES [dbo].[Distributer] ([PIB])
GO
ALTER TABLE [dbo].[Nabavka] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[Nabavka]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([IdZM])
REFERENCES [dbo].[ZonaMagacina] ([IdZM])
GO
ALTER TABLE [dbo].[Nabavka] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[Nabavka]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([IdMat])
REFERENCES [dbo].[Materijal] ([IdMat])
GO
ALTER TABLE [dbo].[Nabavka] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[Opstina]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([IdD])
REFERENCES [dbo].[Drzava] ([IdD])
GO
ALTER TABLE [dbo].[Opstina] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[PocetakRada]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([JMBG])
REFERENCES [dbo].[Zaposleni] ([JMBG])
GO
ALTER TABLE [dbo].[PocetakRada] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[PocetakRada]  WITH CHECK ADD  CONSTRAINT [R_14] FOREIGN KEY([IdZM])
REFERENCES [dbo].[ZonaMagacina] ([IdZM])
GO
ALTER TABLE [dbo].[PocetakRada] CHECK CONSTRAINT [R_14]
GO
ALTER TABLE [dbo].[Potrosnja]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([IdN])
REFERENCES [dbo].[Nabavka] ([IdN])
GO
ALTER TABLE [dbo].[Potrosnja] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[Zaposleni]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([IdO])
REFERENCES [dbo].[Opstina] ([IdO])
GO
ALTER TABLE [dbo].[Zaposleni] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[ZonaMagacina]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([IdMag])
REFERENCES [dbo].[Magacin] ([IdMag])
GO
ALTER TABLE [dbo].[ZonaMagacina] CHECK CONSTRAINT [R_7]
GO
USE [master]
GO
